/* your code */
table {
   border-collapse: collapse;
  width: 100%;
  border-top-left-radius: 10px; /* top-left corner */
  border-top-right-radius: 20px; /* top-right corner */
  border-bottom-left-radius: 30px; /* bottom-left corner */
  border-bottom-right-radius: 40px
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
	
}

th {
  background-color: skyblue;
	
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
